:root {
	--page-width: 1100px;
	--edge-padding: clamp(2rem, 1.2941rem + 3.5294vw, 3.5rem);
	--primary: #653E52;
	--primary-light: #8b6378;
	--primary-dark: #3a1a2b;
	--secondary: #E3D28B;
	--secondary-light: #eee4bd;
	--secondary-translucent: #eee4bd33;
	--background: var(--primary);
	--text: var(--secondary);
	--font-body-size: 1em;
	--heading-font-size: clamp(2em, calc(2rem + ((1vw - 0.15em) * 1.8605)), 3em);
	--button-font-size: clamp(1rem, 0.8118rem + 0.9412vw, 1.4rem);
	--heading-font: sans-serif;
	--body-font: sans-serif;
	--pad-n: calc(var(--edge-padding) + env(safe-area-inset-top));
	--pad-s: calc(var(--edge-padding) + env(safe-area-inset-bottom));
	--pad-w: calc(var(--edge-padding) + env(safe-area-inset-left));
	--pad-e: calc(var(--edge-padding) + env(safe-area-inset-right));
  --modal-transition-duration: 0.5s;
  --widget-transition-duration: 0.2s;
  --timing-end-slow: cubic-bezier(.01,-0.02,.31,.98);
  --timing-end-fast: cubic-bezier(.01,.61,0,.99);
  --timing-bounce: cubic-bezier(.77,.52,.38,1.31)
}

html {
	display: flex;
	justify-content: stretch;
	height: 100%;
	align-items: stretch;
	flex-direction: column;
}

body {
	margin: 0px;
	background: var(--background);
	color: var(--text);
	font-size: var(--font-body-size);
	font-family: var(--body-font);
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

h1, h2, h3 {
	margin: 0px;
	font-family: var(--heading-font);
	font-weight: 300;
}

button {
	border-width: 0px;
	border-radius: 2em;
	padding: 0.5em 2em;
	cursor: pointer;
	font-size: var(--button-font-size);
	background-color: var(--secondary);
	color: var(--primary-dark);
	width: 100%;

	&:active {
		background-color: var(--secondary-light);
	}

	&:disabled {
		background-color: var(--secondary-translucent);
	}
}

#app {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  position: relative;
}
